{% extends "base.html" %}
{% block title %}Message to Text{% endblock %}

{% block content %}
<h1 class="display-4">Message to Text</h1>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form action="/" method="post" enctype="multipart/form-data">
    <label for="formFile" class="form-label">Input a File</label>
    <input class="form-control" type="file" id="formFile" name="file" accept="image/*">
    <button type="submit" class="btn btn-primary mt-2">Upload</button>
</form>

{% if processed_image %}
<div class="image-container">
    <h2>Processed Image with Bounding Boxes:</h2>
    <img src="data:image/png;base64,{{ processed_image }}" alt="Processed Image">
</div>
{% endif %}

{% if extracted_texts %}
<div class="results">
    <h2>Extracted Text:</h2>
    <ul>
        {% for text in extracted_texts %}
        <li>
            Extracted Text:
            <pre>{{ text.text }}</pre>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}